@media only screen and (max-width: 1160px) {
    h1{
        font-size: 35px;
    }
    .h1__desk{
        font-size: 30px;
    }
    .desk__p{
        font-size: 12px;
    }
    .desk img{
        margin-left: 100px;
    }
    .serv{
        margin-top: 80px;
    }
    #inp__2{
        width: 190px;
    }
    .first__block{
        size: 50%;
    }
}

@media only screen and (max-width: 768px) {
    .serv{
    }
    #inp__2{
    }
}